.color-theme-green{
    background-color:#BFDB6A !important;
}


.pade-container-list {
    width: 95%;
    height: 200px;
    overflow: auto;
  }


  .terap-container-list {
    width: 95%;
    height: 200px;
    overflow: auto;
  }

  .iniFiltro{
    width: 100%;
  }

  .filterInput{
    width: 100%;
  }

  .itemsPade{
    border-radius: 10px;
  }

  .container{
    width: 100% !important;
  }

  .border-top-0{
    border-width:3px !important;
  }


  .principal {
    display: flex;
    align-items: center;
}
.card {
  width: 90% !important;
    margin: 0 auto !important; /* requerido para alineación horizontal */
}