<app-menuPrincipal></app-menuPrincipal>
<div class="text-center" *ngIf="!isLogged; else loggedOut">
    <h2>No has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="contenedor">
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="nombre" type="text"
                                    placeholder="Ingrese nombre del paciente"
                                    oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="nombre" type="text"
                                    placeholder="Enter patient name" oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="nombre" type="text"
                                    placeholder="Digite o nome do paciente"
                                    oninput="this.value = this.value.toUpperCase()">
                                <button mat-button *ngIf="nombre" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="nombre=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="apellido" type="text"
                                    placeholder="Ingrese apellido del paciente"
                                    oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="apellido" type="text"
                                    placeholder="Enter patient's last name"
                                    oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="apellido" type="text"
                                    placeholder="Digite o sobrenome do paciente"
                                    oninput="this.value = this.value.toUpperCase()">
                                <button mat-button *ngIf="apellido" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="apellido=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="peso" type="number"
                                    placeholder="Ingrese peso del paciente" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="peso" type="number"
                                    placeholder="Enter patient weight" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="peso" type="number"
                                    placeholder="Digite o peso do paciente" (keypress)="onlyDecimalNumberKey($event)">
                                <button mat-button *ngIf="peso" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="peso=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="talla" type="number"
                                    placeholder="Ingrese talla del paciente" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="talla" type="number"
                                    placeholder="Enter patient size" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="talla" type="number"
                                    placeholder="Digite o tamanho do paciente"
                                    (keypress)="onlyDecimalNumberKey($event)">
                                <button mat-button *ngIf="talla" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="talla=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="imc" type="number"
                                    placeholder="Ingrese IMC" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="imc" type="number"
                                    placeholder="Enter BMI" (keypress)="onlyDecimalNumberKey($event)">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="imc" type="number"
                                    placeholder="Digite o IMC" (keypress)="onlyDecimalNumberKey($event)">
                                <button mat-button *ngIf="imc" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="imc=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="f_nac" type="date"
                                    placeholder="Ingrese fecha de nacimiento">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="f_nac" type="date"
                                    placeholder="Enter date of birth">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="f_nac" type="date"
                                    placeholder="Digite a data de nascimento">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input *ngIf="lang() === 'es'" matInput [(ngModel)]="l_nac" type="text"
                                    placeholder="Ingrese ciudad de nacimiento"
                                    oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'en'" matInput [(ngModel)]="l_nac" type="text"
                                    placeholder="Enter city of birth" oninput="this.value = this.value.toUpperCase()">
                                <input *ngIf="lang() === 'br'" matInput [(ngModel)]="l_nac" type="text"
                                    placeholder="Digite a cidade de nascimento"
                                    oninput="this.value = this.value.toUpperCase()">
                                <button mat-button *ngIf="l_nac" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="l_nac=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-select *ngIf="lang() === 'es'" matSelect placeholder="Tipo de sangre"
                                    [(ngModel)]="opSangSel" name="tsangre" [value]="opSangSel">
                                    <mat-option *ngFor="let op of opcSangre" [value]="op">
                                        {{op}}
                                    </mat-option>
                                </mat-select>
                                <mat-select *ngIf="lang() === 'en'" matSelect placeholder="Blood type"
                                    [(ngModel)]="opSangSel" name="tsangre" [value]="opSangSel">
                                    <mat-option *ngFor="let op of opcSangre" [value]="op">
                                        {{op}}
                                    </mat-option>
                                </mat-select>
                                <mat-select *ngIf="lang() === 'br'" matSelect placeholder="Tipo sanguíneo"
                                    [(ngModel)]="opSangSel" name="tsangre" [value]="opSangSel">
                                    <mat-option *ngFor="let op of opcSangre" [value]="op">
                                        {{op}}
                                    </mat-option>
                                </mat-select>
                                <button mat-button *ngIf="opSangSel" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="opSangSel=''">
                                    <mat-icon>x</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Alcoholismo:</label>
                            <label *ngIf="lang() === 'en'">Alcoholism:</label>
                            <label *ngIf="lang() === 'br'">Alcoolismo:</label>
                            <mat-radio-group name="opcionesAlcohol" [(ngModel)]="opAlcoholSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Tabaquismo:</label>
                            <label *ngIf="lang() === 'en'">Smoking:</label>
                            <label *ngIf="lang() === 'br'">Fumar:</label>
                            <mat-radio-group name="opcionesTab" [(ngModel)]="opTabSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Drogas:</label>
                            <label *ngIf="lang() === 'en'">Drugs:</label>
                            <label *ngIf="lang() === 'br'">Drogas:</label>
                            <mat-radio-group name="opcionesDrog" [(ngModel)]="opDrogSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Suplementos:</label>
                            <label *ngIf="lang() === 'en'">Supplements:</label>
                            <label *ngIf="lang() === 'br'">Suplementos:</label>
                            <mat-radio-group name="opcionesSupl" [(ngModel)]="opSuplSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Herbolaria:</label>
                            <label *ngIf="lang() === 'en'">Herbalist:</label>
                            <label *ngIf="lang() === 'br'">Herbalist:</label>
                            <mat-radio-group name="opcionesHerb" [(ngModel)]="opHerbSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-4">
                            <label *ngIf="lang() === 'es'">Medicina tradicional:</label>
                            <label *ngIf="lang() === 'en'">Traditional medicine:</label>
                            <label *ngIf="lang() === 'br'">Medicina tradicional:</label>
                            <mat-radio-group name="opcionesMedTrad" [(ngModel)]="opMedTradSel">
                                <mat-radio-button *ngFor="let op of opcionesSN" name="opciones" [value]="op"
                                    style="margin: 10px">
                                    {{op}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <mat-form-field class="iniFiltro">
                                        <mat-select matSelect placeholder="Letra" [(ngModel)]="iniPade" name="iniPade"
                                            [value]="iniPade" (selectionChange)="cargarPadecimientos(iniPade)">
                                            <mat-option *ngFor="let op of inicialesPade" [value]="op">
                                                {{op}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-7">
                                    <mat-form-field *ngIf="lang() === 'es'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Padecimiento" aria-label="Number" matInput
                                            [formControl]="myControlPade" [matAutocomplete]="autoPade"
                                            [(ngModel)]="selPade" oninput="this.value = this.value.toUpperCase()">
                                        <button mat-button *ngIf="selPade" matSuffix mat-icon-button
                                            aria-label="Clear" (click)="selPade=''">
                                            <mat-icon>x</mat-icon>
                                        </button>
                                        <mat-autocomplete #autoPade="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptionsPade | async"
                                                [value]="option" [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="lang() === 'en'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Padecimiento" aria-label="Number" matInput
                                            [formControl]="myControlPade" [matAutocomplete]="autoPade"
                                            [(ngModel)]="selPade">
                                        <mat-autocomplete #autoPade="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptionsPade | async"
                                                [value]="option" [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="lang() === 'br'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Padecimiento" aria-label="Number" matInput
                                            [formControl]="myControlPade" [matAutocomplete]="autoPade"
                                            [(ngModel)]="selPade">
                                        <mat-autocomplete #autoPade="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptionsPade | async"
                                                [value]="option" [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-outline-success" (click)="agregarPade(selPade)">
                                        <label *ngIf="lang() === 'es'">Añadir</label>
                                        <label *ngIf="lang() === 'en'">Add</label>
                                        <label *ngIf="lang() === 'br'">Adicionar</label>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pade-container-list  mt-2">
                                        <table class="table color-theme-green">
                                            <tbody>
                                                <tr *ngFor="let padecimiento of padecimientosList" class="itemsPade">
                                                    <td>{{padecimiento}}</td>
                                                    <td><button class="btn btn-outline-danger"
                                                            (click)="borrarPade(padecimiento)">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <mat-form-field class="iniFiltro">
                                        <mat-select matSelect placeholder="Letra" [(ngModel)]="iniTerap" name="iniTerap"
                                            [value]="iniTerap" (selectionChange)="cargarMedicamentos(iniTerap)">
                                            <mat-option *ngFor="let op of inicialesPade" [value]="op">
                                                {{op}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-7">
                                    <mat-form-field *ngIf="lang() === 'es'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Terapeutica" aria-label="Number" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="selTerap" oninput="this.value = this.value.toUpperCase()">
                                            <button mat-button *ngIf="selTerap" matSuffix mat-icon-button
                                            aria-label="Clear" (click)="selTerap=''">
                                            <mat-icon>x</mat-icon>
                                        </button>
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                                [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="lang() === 'en'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Therapy" aria-label="Number" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="selTerap">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                                [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="lang() === 'br'" class="example-full-width filterInput">
                                        <input type="text" placeholder="Terapia" aria-label="Number" matInput
                                            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="selTerap">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                                [matTooltip]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-outline-success" (click)="agregarTerap(selTerap)">
                                        <label *ngIf="lang() === 'es'">Añadir</label>
                                        <label *ngIf="lang() === 'en'">Add</label>
                                        <label *ngIf="lang() === 'br'">Adicionar</label>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="terap-container-list mt-2">
                                        <div class="container">
                                            <table class="table color-theme-green">
                                                <tbody>
                                                    <tr *ngFor="let terap of terapeuticasList">
                                                        <td>{{terap.medicamento}}</td>
                                                        <td>
                                                            <mat-form-field>
                                                                <input matInput type="text"
                                                                    [(ngModel)]="terap.distintivo"
                                                                    placeholder="Distintivo" oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="text"
                                                                    [(ngModel)]="terap.presentacion"
                                                                    placeholder="Presentacion" oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="text" [(ngModel)]="terap.dosis"
                                                                    placeholder="Dosis" oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="text" [(ngModel)]="terap.via"
                                                                    placeholder="Via" oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="text"
                                                                    [(ngModel)]="terap.intervalo"
                                                                    placeholder="Intervalo" oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="date" [(ngModel)]="terap.fInicio"
                                                                    placeholder="Fecha Inicio">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="date" [(ngModel)]="terap.fTermino"
                                                                    placeholder="Fecha termino">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="date"
                                                                    [(ngModel)]="terap.caducidad"
                                                                    placeholder="Caducidad">
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput type="number" [(ngModel)]="terap.nLote"
                                                                    placeholder="No. Lote">
                                                            </mat-form-field>
                                                        </td>
                                                        <td><button class="btn btn-outline-danger"
                                                                (click)="borrarTerap(terap)">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button></td>
                                                        <td><button class="btn btn-outline-info"
                                                                (click)="info(terap.medicamento)"><i
                                                                    class="fa fa-info-circle" aria-hidden="true"></i>
                                                            </button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-form-field>
                        <input *ngIf="lang() === 'es'" matInput type="text" placeholder="Observaciones clinicas"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="obsClin">
                        <input *ngIf="lang() === 'en'" matInput type="text" placeholder="Clinical observations"
                            oninput="this.value = this.value.toUpperCase()"  [(ngModel)]="obsClin">
                        <input *ngIf="lang() === 'br'" matInput type="text" placeholder="Observações clínicas"
                            oninput="this.value = this.value.toUpperCase()"  [(ngModel)]="obsClin">
                    </mat-form-field>

                    <mat-form-field>
                        <input *ngIf="lang() === 'es'" matInput type="text"
                            placeholder="Datos de laboratorio relevantes"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="datosLabo">
                        <input *ngIf="lang() === 'en'" matInput type="text" placeholder="Relevant laboratory data"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="datosLabo">
                        <input *ngIf="lang() === 'br'" matInput type="text" placeholder="Dados laboratoriais relevantes"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="datosLabo">
                    </mat-form-field>

                    <mat-form-field>
                        <input *ngIf="lang() === 'es'" matInput type="text"
                            placeholder="Turno"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="turno">
                        <input *ngIf="lang() === 'en'" matInput type="text" placeholder="Turn"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="turno">
                        <input *ngIf="lang() === 'br'" matInput type="text" placeholder="Virar"
                            oninput="this.value = this.value.toUpperCase()" [(ngModel)]="turno">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select *ngIf="lang() === 'es'" matSelect placeholder="Grado de informacion"
                                    [(ngModel)]="gradoInfo" name="gInfo" [value]="gradoInfo">
                                    <mat-option *ngFor="let op of opcGradoInfo" [value]="op">
                                        {{op}}
                                    </mat-option>
                                </mat-select>

                        <mat-select *ngIf="lang() === 'en'" matSelect placeholder="Degree of information"
                            [(ngModel)]="gradoInfo" name="gInfo" [value]="gradoInfo">
                            <mat-option *ngFor="let op of opcGradoInfo" [value]="op">
                                {{op}}
                            </mat-option>
                        </mat-select>
                        <mat-select *ngIf="lang() === 'br'" matSelect placeholder="Grau de informação"
                            [(ngModel)]="gradoInfo" name="gInfo" [value]="gradoInfo">
                            <mat-option *ngFor="let op of opcGradoInfo" [value]="op">
                                {{op}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="gradoInf" matSuffix mat-icon-button aria-label="Clear"
                            (click)="gradoInf=''">
                            <mat-icon>x</mat-icon>
                        </button>
                    </mat-form-field>



                    <!--- <button class="btn btn-success" [disabled]="!validAll()" (click)="registrar()">
                        <label *ngIf="lang() === 'es'">Registrar</label>
                        <label *ngIf="lang() === 'en'">To register</label>
                        <label *ngIf="lang() === 'br'">Registrar</label>
                    </button>
                -->
                    <button class="btn btn-success" (click)="registrar()">
                        <label *ngIf="lang() === 'es'">Registrar</label>
                        <label *ngIf="lang() === 'en'">To register</label>
                        <label *ngIf="lang() === 'br'">Registrar</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>