<nav class="navbar navbar-expand-lg nav-bar-custom mb-4">
    <span class="nombreUsuario" *ngIf="isLogged">
        <img class="img-usr" [src]="tipoUsuario" alt="">
            {{getUser() | uppercase}}
        </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-span="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/cuestionario"><i class="fa fa-home" aria-hidden="true"></i>
                    <span *ngIf="lang()=='es'">Inicio</span>
                    <span *ngIf="lang()=='en'">Home</span>
                    <span *ngIf="lang()=='br'">
                        Começar</span>
                   </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i> Admin
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/listaCuestionario">
                        <span *ngIf="lang()=='es'">Cuestionarios</span>
                        <span *ngIf="lang()=='en'">Questionnaires</span>
                        <span *ngIf="lang()=='br'">Questionários</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/listaUsuario">
                        <span *ngIf="lang()=='es'">Usuarios</span>
                        <span *ngIf="lang()=='en'">Users</span>
                        <span *ngIf="lang()=='br'">Comercial</span>
                    </a>
                    <a class="dropdown-item" routerLink="/listaPadecimiento" *ngIf="roleType()=='ROLE_ADMIN'">
                        <span *ngIf="lang()=='es'">Padecimientos</span>
                        <span *ngIf="lang()=='en'">Ailments</span>
                        <span *ngIf="lang()=='br'">
                            Doenças</span>
                        
                    </a>
                    <a class="dropdown-item" routerLink="/listaMedra" *ngIf="roleType()=='ROLE_ADMIN'">
                        <span *ngIf="lang()=='es'">MedDRA</span>
                        <span *ngIf="lang()=='en'">MedDRA</span>
                        <span *ngIf="lang()=='br'">MedDRA</span>
                    </a>
                    <a class="dropdown-item" routerLink="/listaMedicamento" *ngIf="roleType()=='ROLE_ADMIN'">
                        <span *ngIf="lang()=='es'">Medicamentos</span>
                        <span *ngIf="lang()=='en'">Medicament</span>
                        <span *ngIf="lang()=='br'">Medicação</span>
                    </a>
                </div>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/listaMedra"><i class="fa fa-users"></i>
                    <span *ngIf="lang()=='es'">Lista de MedDRA</span>
                    <span *ngIf="lang()=='en'">
                        MedDRA list</span>
                    <span *ngIf="lang()=='br'">Lista de MedDRA</span>
                    
                </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/nuevoMedra"><i class="fa fa-user-plus"></i>
                    <span *ngIf="lang()=='es'">Registrar MedDRA</span>
                    <span *ngIf="lang()=='en'">Register MedDRA</span>
                    <span *ngIf="lang()=='br'">Registrar MedDRA</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
                <a class="nav-link" style="cursor: pointer;"><i class="fa fa-sign-out"></i>
                    <span *ngIf="lang()=='es'">Cerrar sesión</span>
                    <span *ngIf="lang()=='en'">Sign out</span>
                    <span *ngIf="lang()=='br'">Fechar sessão</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


