.grafica{
    width: 500px;
    height: 300px;
}

.iniFiltro{
    width: 100%;
  }

  .filterInput{
    width: 80%;
  }

.panelGraficaPade, .panelGraficaToxic{
  background-color: rgb(134, 115, 115);
  padding: 10px;
}