<app-menu-adm-cuestionario></app-menu-adm-cuestionario>
<div class="row">
  <div class="col-sm-12">
    <div class="container">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr class="color-theme-green">
              <th scope="col">Clave</th>
              <th scope="col">Fecha registro</th>
              <th scope="col">Registrado o actualizado por:</th>
              <th scope="col">Medico tratante</th>
              <th scope="col">Nombre paciente</th>
              <th scope="col">Apellido</th>
              <th scope="col">Padecimientos</th>
              <th scope="col">Terapeutica indicada</th>
              <th scope="col" *ngIf="roleType() == 'ROLE_MEDICO' || roleType() == 'ROLE_ADMIN'">Detalles</th>
              <th scope="col"*ngIf="roleType() == 'ROLE_ADMIN'">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacientes" class="color-theme-dark-ligth">
              <td>{{paciente.clavePaciente}}</td>
              <td>{{paciente.fecha_ingreso}}</td>
              <td>{{paciente.registrado_por}}</td>
              <td>
              <label class="font-weight-bold">Nombre:</label><br>
              {{paciente.medico_tratante.nombre}}<br>
              <label class="font-weight-bold">Usuario:</label><br>
              {{paciente.medico_tratante.nombreUsuario}}<br>
              <label class="font-weight-bold">Email:</label><br>
              {{paciente.medico_tratante.email}}<br>
              </td>
              <td>{{paciente.nombre}}</td>
              <td>{{paciente.apellido}}</td>
              <td>{{paciente.padecimientos[0].nombreEs}}</td>
              <td>{{paciente.terapeutica_indicada}}</td>
              <td *ngIf="roleType() == 'ROLE_MEDICO' || roleType() == 'ROLE_ADMIN'"><button
                  class="btn btn-outline-info" routerLink="/editarCuestionario/{{paciente.nombre}}" ><i class="far fa-trash-alt"></i> Detalles</button></td>
              <td *ngIf="roleType() == 'ROLE_ADMIN'"><button class="btn btn-outline-danger"
                  (click)="borrar(paciente.nombre)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button *ngIf="primero > 3" (click)="retrocede()"> Back</button>
        <button>{{primero}}</button>
        <button>{{segundo}}</button>
        <button>{{tercero}}</button>
        <button (click)="avanza()">Next</button>
      </div>
    </div>
  </div>
</div>

