<div class="bg-image">
    <div class="text-center" *ngIf="isLogged; else loggedOut">
        <app-menuPrincipal></app-menuPrincipal>
        <h2>Panel principal</h2>
    </div>
    <ng-template #loggedOut>
        <block-ui>
        
        <div class="row">
            <div class="col-sm-12 col-lg-4"></div>
            <div class="col-sm-12 col-lg-4 mt-4">
                <div class="card ml-2 mr-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <diV class="logo-container">
                                    <img class="img-fluid mb-2 logo" src="assets/nolasco-logo.PNG" alt="">
                                </diV>
                                <div class="logo-container">
                                    <h6 class="logoText ml-5">Comprometidos con la seguridad del paciente.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                    <div>
                                        <div class="form-group">
                                            <mat-form-field class="w-100">
                                                <input type="text"
                                                    [placeholder]="lang() == 'es'? 'Nombre de usuario' : lang() == 'en'? 'Username' : 'Nome de usuário' "
                                                    aria-label="Number" matInput [formControl]="userNameInput"
                                                    [(ngModel)]="nombreUsuario">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field class="w-100">
                                                <input type="password"
                                                    [placeholder]="lang() == 'es'? 'Contraseña' : lang() == 'en'? 'Password' : 'Senha' "
                                                    aria-label="Number" matInput [formControl]="passInput"
                                                    [(ngModel)]="password">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <a (click)="idioma('es')" id="es"><span *ngIf="lang() == 'es'">Español
                                                |</span><span *ngIf="lang() == 'en'">Spanish |</span><span
                                                *ngIf="lang() == 'br'">Espanhol |</span></a>
                                        <a (click)="idioma('en')" id="en"><span *ngIf="lang() == 'es'">Inglés
                                                |</span><span *ngIf="lang() == 'en'">English |</span><span
                                                *ngIf="lang() == 'br'">Inglês |</span></a>
                                        <a (click)="idioma('br')" id="br"><span *ngIf="lang() == 'es'">Portugues
                                                |</span><span *ngIf="lang() == 'en'">Portuguese |</span><span
                                                *ngIf="lang() == 'br'">Português |</span></a>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                                                <i class="fas fa-sign-in-alt"></i>
                                                <span *ngIf="lang() == 'es'">Iniciar Sesión</span>
                                                <span *ngIf="lang() == 'br'">Iniciar sessão</span>
                                                <span *ngIf="lang() == 'en'">Log in</span>                           
                                                </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4"></div>
        </div>
    </block-ui>
    </ng-template>
</div>