<app-menuAdmUsers></app-menuAdmUsers>
<div class="text-center" *ngIf="!isLogged; else loggedOut">
    <h2>No has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6"><h2 *ngIf="lang()=='es'">Registro de nuevo usuario</h2>
                        <h2 *ngIf="lang()=='en'">
                            New user registration</h2>
                        <h2 *ngIf="lang()=='br'">Registo de novo usuário</h2></div>
                    <div class="col-sm-3"></div>
                </div>
                <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label *ngIf="lang()=='es'">Nombre</label>
                                <label *ngIf="lang()=='en'">Name</label>
                                <label *ngIf="lang()=='br'">Nome</label>
                                <input type="text" oninput="this.value = this.value.toUpperCase()" name="nombre" id="nombre" class="form-control" [(ngModel)]="nombre" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label *ngIf="lang()=='es'">Nombre de usuario</label>
                  <label *ngIf="lang()=='en'">Username</label>
                  <label *ngIf="lang()=='br'">Nome do usuário</label>
                                <input oninput="this.value = this.value.replace(/ /g, '')" type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                                    [(ngModel)]="nombreUsuario" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email"  name="email" id="email" oninput="this.value = this.value.replace(/ /g, '')" class="form-control" [(ngModel)]="email" required email>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label *ngIf="lang()=='es'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Contraseña (sin espacios)</label>
                                <label *ngIf="lang()=='en'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Password (no spaces)</label>
                                <label *ngIf="lang()=='br'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Senha (sem espaços)</label>
                                <input oninput="this.value = this.value.replace(/ /g, '')" type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                                    required >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label *ngIf="lang()=='es'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Confirmar contraseña</label>
                                <label *ngIf="lang()=='en'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Confirm password</label>
                                <label *ngIf="lang()=='br'" for="password" [ngStyle]="{'color':password!=passwordConf?'red':''}">Confirmar senha</label>
                                <input oninput="this.value = this.value.replace(/ /g, '')" type="password" name="passwordConf" id="passwordConf" class="form-control" [(ngModel)]="passwordConf"
                                    required   >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-grup" *ngIf="roleType() == 'ROLE_ADMIN'">
                                <label for="password">Rol</label>
                                <p>
                                    <select name="miselect" [(ngModel)]="rolSelec">
                                        <option [value]="item" *ngFor="let item of rolesList">{{item | uppercase}}</option>
                                    </select>
                                </p> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid || !(password === passwordConf) || !(rolSelec != null)">
                                    <i class="fas fa-sign-in-alt"></i> <p *ngIf="lang()=='es'">Crear cuenta</p>
                                    <p *ngIf="lang()=='en'">Create account</p>
                                    <p *ngIf="lang()=='br'">Criar conta</p></button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</ng-template>