<app-menu-padecimiento></app-menu-padecimiento>
<div class="row">
  <div class="col-sm-12">
    <div class="contenedor ml-3 mr-3">
      <div class="ml-2">
        <mat-form-field>
          <input matInput type="text" oninput="this.value = this.value.replace(/ /g, '')"
            [placeholder]="lang()=='br'? 'Chave de catálogo': lang()=='en'? 'Catalog yey' : 'Clave de catalogo'" [(ngModel)]="catalogKey">
          <button mat-button *ngIf="catalogKey" matSuffix mat-icon-button aria-label="Clear" (click)="catalogKey=''">
            <mat-icon>x</mat-icon>
          </button>
        </mat-form-field>
        <button class="btn btn-success ml-2" (click)="buscar()">
          <span *ngIf="lang()=='es'">Buscar</span>
          <span *ngIf="lang()=='en'">Search</span>
          <span *ngIf="lang()=='br'">Buscar</span>
        </button>
      </div>
      <div>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr class="color-theme-green">
                <th scope="col">
                  <span *ngIf="lang()=='es'">Clave de catálogo</span>
                  <span *ngIf="lang()=='en'">Catalog key</span>
                  <span *ngIf="lang()=='br'">Chave de catálogo</span>
                </th>
                <th scope="col">
                  <span *ngIf="lang()=='es'">Nombre</span>
                  <span *ngIf="lang()=='en'">Name</span>
                  <span *ngIf="lang()=='br'">Nome</span>
                </th>
                <th scope="col">Cie 10</th>
                <th scope="col" *ngIf="roleType() == 'ROLE_ADMIN'">
                  <span *ngIf="lang()=='es'">Borrar</span>
                  <span *ngIf="lang()=='en'">Delete</span>
                  <span *ngIf="lang()=='br'">Excluir</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="padecimientos.length == 0">
                <td colspan="11">
                  <mat-spinner matSuffix [diameter]="20" style="float: center; margin-left: 8px"></mat-spinner>
                </td>
              </tr>
              <tr *ngFor="let pade of padecimientos" class="color-theme-dark-ligth">
                <td>{{pade.catalogKey}}</td>
                <td>{{pade.nombreEs}}</td>
                <td>{{pade.cie10Es}}</td>
                <td *ngIf="roleType() == 'ROLE_ADMIN'"><button (click)="borrar(pade.catalogKey)"
                    class="btn btn-outline-danger"><i class="far fa-trash-alt"></i><span
                      *ngIf="lang()=='es'">Borrar</span>
                    <span *ngIf="lang()=='en'">Delete</span>
                    <span *ngIf="lang()=='br'">Excluir</span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <label class="mr-2">Pag.</label>
            <button *ngIf="paginas[0] > 9" (click)="retrocede()"> Back</button>
            <button *ngIf="totalPages >= paginas[0]" (click)="primeroButton()">{{paginas[0]}}</button>
            <button *ngIf="totalPages >= paginas[1]" (click)="segundoButton()">{{paginas[1]}}</button>
            <button *ngIf="totalPages >= paginas[2]" (click)="terceroButton()">{{paginas[2]}}</button>
            <button *ngIf="totalPages >= paginas[3]" (click)="cuartoButton()">{{paginas[3]}}</button>
            <button *ngIf="totalPages >= paginas[4]" (click)="quintoButton()">{{paginas[4]}}</button>
            <button *ngIf="totalPages >= paginas[5]" (click)="sextoButton()">{{paginas[5]}}</button>
            <button *ngIf="totalPages >= paginas[6]" (click)="septimoButton()">{{paginas[6]}}</button>
            <button *ngIf="totalPages >= paginas[7]" (click)="octavoButton()">{{paginas[7]}}</button>
            <button *ngIf="totalPages >= paginas[8]" (click)="novenoButton()">{{paginas[8]}}</button>
            <button *ngIf="totalPages > paginas[8]" (click)="avanza()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>