.color-theme-green{
    background-color:#BFDB6A !important;
}


.pade-container-list {
    width: 500px;
    height: 200px;
    overflow: auto;
  }


  .terap-container-list {
    width: 500px;
    height: 200px;
    overflow: auto;
  }

  .iniFiltro{
    width: 100%;
  }

  .filterInput{
    width: 100%;
  }

  .itemsPade{
    border-radius: 10px;
  }