<app-menuAdmUsers></app-menuAdmUsers>
<div class="row">
  <div class="col-sm-12 ">
    <div class="container">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Email</th>
              <th scope="col">Rol</th>
              <th scope="col">Sup</th>
              <th scope="col">Sub</th>
              <th scope="col" *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') ">Editar</th>
              <th scope="col" *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') ">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios" class="color-theme-dark-ligth">
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.nombreUsuario}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.roles[0].rolNombre}}</td>
              <td>{{usuario.sup}}</td>
              <td>{{usuario.sub}}</td>
              <td *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') "><button
                  class="btn btn-outline-info" routerLink="/editarUsuario/{{usuario.nombreUsuario}}"><i
                    class="far fa-trash-alt"></i> Editar</button></td>
              <td *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO')"><button
                  *ngIf="usuario.nombreUsuario != username()" class="btn btn-outline-danger"
                  (click)="borrar(usuario.nombreUsuario)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>