<app-menuAdmUsers></app-menuAdmUsers>
<div class="row">
  <div class="col-sm-12 ">
    <div class="contenedor ml-3 mr-3 pl-2 pr-2 pt-2 pb-2">
      <div class="ml-2">
        <mat-form-field>
          <input matInput type="text"
            [placeholder]="lang()=='br'? 'Nome do usuário' : lang()=='en'? 'Username' : 'Nombre de usuario'"
            (keypress)="verifLeterAndNumberAndGuion($event)" [(ngModel)]="nombreUsuario" (keydown.enter)="buscar()">
          <button mat-button *ngIf="nombreUsuario" matSuffix mat-icon-button aria-label="Clear"
            (click)="nombreUsuario=''">
            <mat-icon>x</mat-icon>
          </button>
        </mat-form-field>
        <button class="btn btn-success ml-2" (click)="buscar()">
          <span *ngIf="lang()=='es'">Buscar</span>
          <span *ngIf="lang()=='en'">Search</span>
          <span *ngIf="lang()=='br'">Buscar</span>
        </button>
      </div>
      <div>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <span *ngIf="lang()=='es'">Nombre</span>
                  <span *ngIf="lang()=='en'">Name</span>
                  <span *ngIf="lang()=='br'">Nome</span>

                </th>
                <th scope="col">
                  <span *ngIf="lang()=='es'">Nombre de usuario</span>
                  <span *ngIf="lang()=='en'">Username</span>
                  <span *ngIf="lang()=='br'">Nome do usuário</span>

                </th>
                <th scope="col">
                  Email
                </th>
                <th scope="col">
                  <span *ngIf="lang()=='es'">Rol</span>
                  <span *ngIf="lang()=='en'">Role</span>
                  <span *ngIf="lang()=='br'">O cargo</span>
                </th>
                <th scope="col">
                  Sup
                </th>
                <th scope="col">
                  Status
                </th>
                <th scope="col" *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') ">
                  <span *ngIf="lang()=='es'">Editar</span>
                  <span *ngIf="lang()=='en'">Edit</span>
                  <span *ngIf="lang()=='br'">Editar</span>
                </th>
                <th scope="col" *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') ">
                  <span *ngIf="lang()=='es'">Borrar</span>
                  <span *ngIf="lang()=='en'">Delete</span>
                  <span *ngIf="lang()=='br'">Excluir</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="actualizandoLista">
                <td colspan="11" *ngIf="usuarios.length == 0">
                  <div class="row wrapper">
                    <div class="inner" *ngIf="usuarios.length == 0">
                      <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                          <mat-spinner style="margin:0 auto;" matSuffix [diameter]="80"
                            style="float: right; margin-left: 8px"></mat-spinner>
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="row">
                        <h3>Cargando usuarios...</h3>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let usuario of usuarios" class="color-theme-dark-ligth">
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.nombreUsuario}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.roles[0].rolNombre}}</td>
                <td>{{usuario.sup}}</td>
                <td>
                  <span *ngIf="usuario.enabled">Activada</span>
                  <span *ngIf="!usuario.enabled">Desactivada</span>
                </td>
                <td *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO') "><button
                    class="btn btn-outline-info" routerLink="/editarUsuario/{{usuario.nombreUsuario}}"><i
                      class="far fa-trash-alt"></i>
                    <span *ngIf="lang()=='es'">Editar</span>
                    <span *ngIf="lang()=='en'">Edit</span>
                    <span *ngIf="lang()=='br'">Editar</span>
                  </button></td>
                <td *ngIf="(roleType() == 'ROLE_ADMIN') || (roleType() == 'ROLE_MEDICO')"><button
                    *ngIf="usuario.nombreUsuario != username()" class="btn btn-outline-danger"
                    (click)="borrar(usuario.nombreUsuario)"><i class="far fa-trash-alt"></i>
                    <span *ngIf="lang()=='es'">Borrar</span>
                    <span *ngIf="lang()=='en'">Delete</span>
                    <span *ngIf="lang()=='br'">Excluir</span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <span class="mr-1">Pag. </span>
          <button *ngIf="paginas[0] > 9" (click)="retrocede()"> Back</button>
          <button *ngIf="totalPages >= paginas[0]" (click)="primeroButton()">{{paginas[0]}}</button>
          <button *ngIf="totalPages >= paginas[1]" (click)="segundoButton()">{{paginas[1]}}</button>
          <button *ngIf="totalPages >= paginas[2]" (click)="terceroButton()">{{paginas[2]}}</button>
          <button *ngIf="totalPages >= paginas[3]" (click)="cuartoButton()">{{paginas[3]}}</button>
          <button *ngIf="totalPages >= paginas[4]" (click)="quintoButton()">{{paginas[4]}}</button>
          <button *ngIf="totalPages >= paginas[5]" (click)="sextoButton()">{{paginas[5]}}</button>
          <button *ngIf="totalPages >= paginas[6]" (click)="septimoButton()">{{paginas[6]}}</button>
          <button *ngIf="totalPages >= paginas[7]" (click)="octavoButton()">{{paginas[7]}}</button>
          <button *ngIf="totalPages >= paginas[8]" (click)="novenoButton()">{{paginas[8]}}</button>
          <button *ngIf="totalPages > paginas[8]" (click)="avanza()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>