table {
    text-align: left;
    /*position: relative;*/
    border-collapse: collapse; 
    background-color: white;
  }
  th, td {
    padding: 0.25rem;
  }
  th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
    background-color:#BFDB6A ;
    color:black;
  }
  
  .contenedor{
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 27px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 27px 2px rgba(0,0,0,0.5);
    box-shadow: 7px 7px 27px 2px rgba(0,0,0,0.5);
  }


  .table-container{
    width: 90; 
    height: 300px;
    overflow: auto;
    margin: 0 auto;
  }

  .wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    
  }
  .inner {
    padding: 12px;
  }